David Woodhouse <dwmw2@infradead.org> <david.woodhouse@intel.com>
Nikos Mavrogiannopoulos <n.mavrogiannopoulos@gmail.com> <nmav@gnutls.org>
Nikos Mavrogiannopoulos <n.mavrogiannopoulos@gmail.com> <nmav@redhat.com>
Daniel Lenski <dlenski@gmail.com> Dan Lenski
Fengguang Wu <fengguang.wu@intel.com>
Ľubomír Carik <Lubomir.Carik@gmail.com> # Normalisation of the Ľ varies too.
Ľubomír Carik <Lubomir.Carik@gmail.com> <lubomir.carik@gmail.com>
Jason Cooper <cyanogen@lakedaemon.net> <openconnect@lakedaemon.net>
Luca Boccassi <bluca@debian.org> <luca.boccassi@microsoft.com>
Luca Boccassi <bluca@debian.org> <luca.boccassi@gmail.com>
Mike Miller <mtmiller@ieee.org> <mtmiller@debian.org>
Stuart Henderson <stu@spacehopper.org> <sthen@openbsd.org>
Dimitri Papadopoulos <3350651-DimitriPapadopoulos@users.noreply.gitlab.com> Dimitri Papadopoulos Orfanos
Dimitri Papadopoulos <3350651-DimitriPapadopoulos@users.noreply.gitlab.com> <3350651+DimitriPapadopoulos@users.noreply.gitlab.com>
